@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e23744;
  --secondary-color: #0e2368;
  --gray: #444957;
  --gray2: #424961;
  --border-color: #93a2d3;
  --border-color2: #373737;
  --light: #f0f1f7;
  --light2: #f8f8f8;
  --gray3: #afafaf;
  --gray4: #646874;
}

@font-face {
  font-family: "SansPro";
  src: url("./assets/fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SansPro-sb";
  src: url("./assets/fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: "SansPro-b";
  src: url("./assets/fonts/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: "Poppin";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppin-sb";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppin-b";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-sb";
  src: url("./assets/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans-b";
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}
